/* ***********************MAIN********************* */
* {
	box-sizing: border-box;
}
body {
	color: #a39898;
	font-family: sans-serif;
}
.container {
	width: 70%;
	max-width: 1100px;
	margin: auto;
}
.text h2 {
	color:#00bcd4;
}
hr {
	border-color: #00bcd4;
	background-color: #00bcd4;
	margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 1px;
    padding-top: 1px;
}
/* ***************************LOGO****************** */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
 }
 .logo img {
	float: left; 
 }
 .logo h1 { 	
    padding-top: 51px;
 }
/* ***************************NAVIGATION************************** */
ol {
	list-style: none;
	position: relative;
	text-align: center;
	padding-left: 0;
	margin: 0;
}
ol>li {
	display: inline-block;
	vertical-align: top;
	color: #00bcd4;
	width: 12%;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}
ul {
	list-style: none;
	padding-left: 0;
	display: inline-block;
	width: 50%;	
}
li a {
	text-decoration: none;
	color: #ffffff;
} 
ol > li > div {
	position: absolute;
	background-color: #00bcd4;
	color: #ffffff;
	width:100%;
	left: 0;
	padding-bottom: 30px;
	display: none;
}
ol > li:hover > div{
	display: block;
}

.relative div {
	display: inline-block;
	width: 48%;
	text-align: center;
	vertical-align: top;
}
.relative>ul {
	display: inline-block;
	width: 48%;
	text-align: center;
	vertical-align: top;
}
.relative h2 {
	color: #86dddf;
}
ol li:hover {
	background-color: #00bcd4;
	color: #ffffff;
}
/* ****************************FOOTER***************************** */
footer {
	font-size: 12px;
	color: #ffffff;
	padding-top: 12px;
    padding-bottom: 12px;
    background-color: #00bcd4;
}
footer img {
	width: 4%;
}
footer p {
	text-align: center;
}
footer a {
	color: #ffffff;
}