/* ******************** GENERAL ******************* */
html {
  font-size: 62.5%; }

* {
  box-sizing: border-box;
  outline: none; }

.container {
  width: 80%;
  max-width: 1100px;
  margin: auto; }

body {
  color: #7F7F7F;
  font-family: "Bree Serif", serif;
  font-size: 18px;
  background-image: url(../img/fond.png); }

h2,
h3,
h4 {
  color: #F42A5C; }

/* ******************** HEADER ******************* */
.imgtransform img {
  transition: all 2s; }

.imgtransform:hover img {
  transform: scale(1.5); }

.logo {
  font-size: 40px;
  align-items: center; }

.logo:hover {
  color: #F42A5C; }

.list-transform li a {
  transition: all 1s; }

.list-transform li a:hover {
  color: #F42A5C;
  transform: translateY(20px); }

.nav-flex {
  display: flex;
  align-items: center; }

.background {
  background-image: url(../img/bg_header.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  padding-top: 8%;
  padding-bottom: 10%;
  text-align: center; }
  .background a {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 16px;
    padding-left: 16px;
    background-color: #F42A5C;
    text-decoration: none;
    color: white;
    border-radius: 5%; }
  .background p {
    margin-bottom: 50px;
    color: white;
    line-height: 2em; }
  .background h1 {
    color: white;
    font-size: 40px;
    line-height: 2em; }

header nav img {
  width: 80px;
  text-align: center;
  margin-right: 20px; }
header nav div:nth-child(1) {
  width: 50%; }
header nav ol {
  list-style: none;
  width: 70%;
  text-align: center;
  padding-left: 0;
  margin: 0;
  display: flex; }
header nav ol li {
  padding: 16px;
  width: 30%; }
header nav a {
  text-decoration: none;
  color: #7F7F7F;
  padding-right: 4%;
  display: inline-block; }
header nav a .fas {
  display: block; }
header nav div {
  display: flex; }

/* ******************** MAIN ******************* */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.right {
  /*p {
    text-align: justify;
  }*/ }
  .right img {
    float: right;
    width: 50%;
    padding-left: 20px;
    padding-bottom: 20px; }

.left {
  /*p {
    text-align: justify;
  }*/ }
  .left img {
    float: left;
    width: 50%;
    padding-right: 20px;
    padding-bottom: 20px; }

.section-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  .section-flex h2 {
    width: 100%; }
  .section-flex article {
    width: 30%;
    text-align: center; }

.form-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.name {
  background-image: url(../img/bg_form_name.svg);
  background-repeat: no-repeat;
  background-position: 0.25em center;
  background-size: 1.5em;
  width: 45%;
  margin-right: 54px; }

.message {
  background-image: url(../img/bg_form_message.svg);
  background-repeat: no-repeat;
  background-position: 0.25em center;
  background-size: 1.5em;
  width: 100%; }

.mail {
  background-image: url(../img/bg_form_mail.svg);
  background-repeat: no-repeat;
  background-position: 0.25em center;
  background-size: 1.5em;
  width: 45%; }

.button {
  text-align: center;
  padding-top: 24px; }
  .button button {
    border: 0;
    padding: 14px 20px; }
  .button button:nth-child(1) {
    background-color: #F42A5C;
    font-family: "Bree Serif", serif;
    font-size: 16px;
    color: white; }
  .button button:nth-child(2) {
    background-color: #7F7F7F;
    font-family: "Bree Serif", serif;
    font-size: 16px;
    color: white; }

main a span .fas {
  color: #7F7F7F;
  border: solid 1px RGBA(127, 127, 127, 0.47);
  border-radius: 100%;
  display: block;
  width: 4em;
  line-height: 4em;
  background-color: RGBA(127, 127, 127, 0.16);
  margin-bottom: 28px;
  margin: 0 auto; }
main a span .fas:hover {
  animation: link 1s infinite alternate; }
@keyframes link {
  0% {
    transform: translateY(-2em); }
  100% {
    transform: translate(0); } }
main h2 {
  border-bottom: solid 2px RGBA(127, 127, 127, 0.47);
  font-size: 35px;
  text-align: center;
  padding-bottom: 25px; }
main section article a {
  text-decoration: none;
  color: #F42A5C;
  margin-left: 24px; }
main form p {
  border-radius: 20px;
  border: solid 1px RGBA(127, 127, 127, 0.47);
  line-height: 2em; }
  main form p input {
    border: none;
    margin-left: 44px;
    font-size: 16px;
    color: #7F7F7F; }

/* ******************** FOOTER ******************* */
footer {
  font-size: 12px;
  padding-top: 24px; }
  footer img {
    width: 4%; }
  footer p {
    text-align: center; }
  footer a {
    text-decoration: none;
    color: #F42A5C; }
  footer span {
    color: #F42A5C; }

/*# sourceMappingURL=style.css.map */
