.test {
  width: 300px;
  margin: 10em auto;
  background-color: #b5f7a8;
  text-align: center;
  line-height: 300px;
  /*transform: rotate(45deg) translateX(10em) translateY(5em) scale(3) skewX(30deg);*/
  transition: background-color 1s;
  transition: transform 0.5s;
  transform:
}
.test:hover {
  background-color: lime;
  transform: rotate(380deg);
}
h1 {
  color: grey;
}
